/* 1rem == 16px */
.container {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  padding: 20px;
  font-size: 14px;
  line-height: 24px;
  background-image: url("@/static/imgs/login_bg2.gif");
  background-size: 130% 110%;
  overflow: hidden;
  padding: 0;
}
.telPhone {
  width: 100%;
  height: 150rpx;
  margin-top: 600rpx;
}
.telPhone .phnum {
  text-align: center;
  height: 60rpx;
  font-size: 44rpx;
  color: white;
  line-height: 60rpx;
}
.telPhone .agrBtn {
  width: 420rpx;
  height: 75rpx;
  background-color: #b0b4ff;
  margin: 0 auto;
  color: white;
  font-size: 34rpx;
  line-height: 70rpx;
  border-radius: 40rpx;
  margin-top: 30rpx;
}
.otherModel {
  width: 80%;
  height: 310rpx;
  margin: 0 auto ;
  margin-top: 320rpx;
}
.otherModel .otherTil {
  width: 100%;
  height: 60rpx;
  text-align: center;
  color: white;
  line-height: 60rpx;
}
.otherModel .loginType {
  width: 100%;
  height: 120rpx;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40rpx;
}
.otherModel .loginType .lgImag {
  width: 100rpx;
  height: 100rpx;
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.otherModel .loginType .lgImag image {
  width: 60rpx;
  height: 60rpx;
}
.otherModel .readNews {
  width: 100%;
  height: 100rpx;
  margin-top: 40rpx;
}
.otherModel .readNews .leftRadoi {
  float: left;
  width: 40rpx;
  height: 100rpx;
}
.otherModel .readNews .rightCons {
  float: left;
  width: 560rpx;
  height: 100rpx;
  color: white;
}
