@font-face {
	font-family: "iconfont";
	/* Project id 3556478 */
	src: url('/static/iconfont.ttf') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pokeball:before {
	content: "\e6c9";
}

.icon-xinbaniconshangchuan-:before {
	content: "\e603";
}

.icon-wode:before {
	content: "\e625";
}

.icon-xingqiu:before {
	content: "\e70c";
}

.icon-yanke:before {
	content: "\e81e";
}

.icon-mima:before {
	content: "\e657";
}




.icon-paihangbang:before {
	content: "\e61e";
}

.icon-zhanghu:before {
	content: "\e658";
}

.icon-QQ:before {
	content: "\e882";
}

.icon-wechat:before {
	content: "\e60e";
}

.icon-phone1:before {
	content: "\e682";
}


.icon-dunpaibaoxianrenzheng_o:before {
	content: "\eba0";
}
